.box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.box .precent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .precent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .precent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.box .precent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box .precent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 89) / 100);
  stroke: #03a9f4;
}

.box .precent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.box .precent .number h2 {
  font-size: 48px;
}

.box .precent .number h2 span {
  font-size: 24px;
}

.box .text {
  padding: 10px 0 0;
  color: black;
  font-weight: normal;
  letter-spacing: 1px;
}

.box1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.box1 .precent1 {
  position: relative;
  width: 150px;
  height: 150px;
}

.box1 .precent1 svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box1 .precent1 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.box1 .precent1 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box1 .precent1 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 69) / 100);
  stroke: #764af3;
}

.box1 .precent1 .number1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.box1 .precent1 .number1 h2 {
  font-size: 48px;
}

.box1 .precent1 .number1 h2 span {
  font-size: 24px;
}

.box1 .text1 {
  padding: 10px 0 0;
  color: black;
  font-weight: normal;
  letter-spacing: 1px;
}

.box2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.box2 .precent2 {
  position: relative;
  width: 150px;
  height: 150px;
}

.box2 .precent2 svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box2 .precent2 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.box2 .precent2 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box2 .precent2 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 93) / 100);
  stroke: #e6513a;
}

.box2 .precent2 .number2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.box2 .precent2 .number2 h2 {
  font-size: 48px;
}

.box2 .precent2 .number2 h2 span {
  font-size: 24px;
}

.box2 .text2 {
  padding: 10px 0 0;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}

.box3 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.box3 .precent3 {
  position: relative;
  width: 150px;
  height: 150px;
}

.box3 .precent3 svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box3 .precent3 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.box3 .precent3 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box3 .precent3 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 76) / 100);
  stroke: #5ab92b;
}

.box3 .precent3 .number3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.box3 .precent3 .number3 h2 {
  font-size: 48px;
}

.box3 .precent3 .number3 h2 span {
  font-size: 24px;
}

.box3 .text3 {
  padding: 10px 0 0;
  color: black;
  font-weight: normal;
  letter-spacing: 1px;
}
