html {
  scroll-behavior: smooth;
}
#scrollUp {
  background: #6c3cf0;
  height: 45px;
  width: 45px;
  right: 50px;
  bottom: 77px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 45px;
  z-index: 9 !important;
  transition: 0.5s;
}
.fixed {
  position: fixed;
  background: rgb(120, 66, 251);
  background: linear-gradient(
    90deg,
    rgba(120, 66, 251, 1) 0%,
    rgba(153, 112, 246, 1) 100%
  );
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  animation-name: fadeInDown2;
  animation-duration: 0.5s;
}
@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fixed2 {
  position: fixed;
  background: rgb(52, 113, 242);
  background: linear-gradient(
    90deg,
    rgba(52, 113, 242, 1) 0%,
    rgba(70, 168, 243, 1) 100%
  );
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  animation-name: fadeInDown2;
  animation-duration: 0.5s;
}
@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fixed3 {
  position: fixed;
  background: rgb(10, 46, 132);
  background: linear-gradient(
    90deg,
    rgba(10, 46, 132, 1) 0%,
    rgba(70, 168, 243, 1) 100%
  );
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  animation-name: fadeInDown2;
  animation-duration: 0.5s;
}
@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .navnav3 {
    display: none;
  }
}

@media (min-width: 992px) {
  .navnav2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .navnav {
    display: none;
  }
}
@media (max-width: 992px) {
  .head {
    display: none;
  }
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border-color: white;
  padding: 8px 10px;
  border-radius: 0px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: white;
  text-align: left;
  list-style: none;
  background: rgb(120, 66, 251);
  background: linear-gradient(
    90deg,
    rgba(120, 66, 251, 1) 0%,
    rgba(153, 112, 246, 1) 100%
  );
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.rltv {
  position: relative;
}
.abs1 {
  position: absolute;
  right: -136px;
  top: -113px;
}

.arrow1 {
  border: none;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: -1px -1px 15px -1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px -1px 15px -1px rgba(0, 0, 0, 0.35);
  box-shadow: -1px -1px 15px -1px rgba(0, 0, 0, 0.35);
}
.logo:hover ul {
  visibility: visible;
  opacity: 1;
  top: 40px;
  transition-duration: 0.5s;
}

.logo {
  position: relative;
}

.logo:hover {
  cursor: pointer;
}

.abs {
  width: 300px;
  position: absolute;
  left: 13px;
  top: 70px;
  opacity: 0;
}
.abs {
  list-style: none;
  visibility: hidden;
  background-color: white;
  border-radius: 5px;
  color: #8555fb;
  font-weight: normal;
  font-size: 14px;
  z-index: 1;
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}
.abs li {
  padding: 5px 0px;
  box-sizing: border-box;
  transition: 0.5s;
}

.abs li:hover {
  padding-left: 8px;
}

.bg {
  background-image: url(http://pluginspoint.com/demo/html/digee/img/slider/slider_bg.png);

  background-size: cover;
  background-position: center;
}

.bg2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    184deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 245, 255, 1) 100%
  );
  padding: 120px 0px 10px 0px;
}

.bg3 {
  background-image: url(https://miro.medium.com/max/9766/1*XVJg3i1j5fhPDx961bbsvQ.jpeg);
  background-size: cover;
}

.bg4 {
  background: rgba(94, 63, 207, 0.603);
  background: linear-gradient(
    40deg,
    rgba(94, 63, 207, 0.774) 0%,
    rgba(162, 130, 236, 0.815) 100%
  );
  padding: 138px 0px;
  position: relative;
}

.bg5 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    184deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 245, 255, 1) 100%
  );
  padding: 100px 50px;
}

.bg6 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 245, 255, 1) 100%
  );
  padding: 100px 50px 200px 50px;
}

.bg7 {
  background: rgb(38, 197, 249);
  background: linear-gradient(
    40deg,
    rgba(38, 197, 249, 1) 0%,
    rgba(11, 157, 206, 1) 100%
  );
  position: relative;
  padding: 100px 50px;
}

.bg10 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 245, 255, 1) 100%
  );
  padding: 20px 0px;
}

.padd {
  padding: 0px 30px;
}
.a4 {
  padding: 10px;
  color: white;
}

.a4:hover {
  text-decoration: none;
  color: white;
}

.paddtp {
  padding-top: 70px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

.f1 {
  font-size: 35px;
}

.f3 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.f4 {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.btn1 {
  background-color: #ffffff;
  color: #7f4dfa;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 35px;
  font-weight: bold;
  font-size: 17px;
}
.btn1:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s;
}

.btn2 {
  background-color: #743efb;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn2:hover {
  background-color: white;
  color: #5d58f7;
  transition: 0.5s;
}

.btn9 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
}

.contanier2 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 110px 0px;
  box-sizing: border-box;
}

.contanier3 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 200px 0px;
  box-sizing: border-box;
}

.container4 {
  background-color: rgb(247, 247, 247);
  padding-top: 100px;
  box-sizing: border-box;
}

.head {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 50px;
}

.details {
  padding: 150px 0px;
}

.diffrent {
  padding-top: 22px;
  box-sizing: border-box;
}

.fh1 {
  font-size: 36px;
  font-weight: 900px;
  margin-bottom: 15px;
}

.fh2 {
  font-size: 24px;
  font-weight: bold;
}
.fh3 {
  font-size: 36px;
  font-weight: 900px;
  margin-bottom: 15px;
  color: black;
}

.fh4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.5s;
}

.hvh4:hover {
  color: #7672f8;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #647096;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: normal;
}
.p3 {
  font-size: 25px;
  margin-bottom: 25px;
}
.p4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 60px;
}

.mrgr {
  margin-left: -290px;
}

.pic3 {
  position: absolute;
  top: -86px;
  left: 10px;
}
.pic6 {
  padding-top: 150px;
  box-sizing: border-box;
}

.data2 {
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.btn3 {
  color: black;
  background-color: white;
  border: 1px solid #5d58f7;
  font-weight: bold;
  font-size: 16px;
  padding: 17px 30px;
  border-radius: 5px;
}

.btn3:hover {
  background-color: #5d58f7;
  color: white;
  transition: 0.5s;
}

.title2 {
  font-size: 18px;
  font-weight: bold;
  color: #7a4ff4;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.carousel-indicators li {
  background-image: url(http://pluginspoint.com/demo/html/digee/img/testimonail/testi_avatar.png);
}

.stars {
  margin-bottom: 15px;
}

.star {
  border: none;
  color: #febc1d;
  border-radius: 5px;
}

.clud {
  position: absolute;
  left: 100px;
  animation: bounce 8s ease-in-out 0s infinite alternate;
  transition: 3s;
}
.feth {
  position: absolute;
  left: 230px;

  animation: bounce 6s ease-in-out 0s infinite alternate;
  transition: 3s;
}
.tree {
  position: absolute;
  right: 270px;
  top: 53px;
  animation: bounce 8s ease-in-out 0s infinite alternate;
  transition: 3s;
}
.getstarted {
  text-align: right;
  padding-top: 30px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .getstarted {
    text-align: left;
  }
}

.white {
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.p5 {
  color: white;
  font-size: 16px;
}
.btn5 {
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 17px 30px;
  background-color: rgba(255, 255, 255, 0);
}

.btn5:hover {
  color: #7754d1;
  background-color: white;

  transition: 0.8s;
}

.paddbtn5 {
  text-align: center;
  padding-top: 48px;
  padding-left: 309px;
  box-sizing: border-box;
}

.bgw {
  padding: 15px 15px;
}
.pad {
  background-color: white;
  -webkit-box-shadow: 4px 3px 38px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 38px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 38px -13px rgba(0, 0, 0, 0.75);
}

.pad:hover {
  -webkit-box-shadow: 0px 4px 38px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 38px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 38px -1px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.pad1 {
  padding: 25px 25px;
}

.padpre {
  padding: 10px;
}
.diee {
  padding: 10px;
}

.container8 {
  background-color: #f7f7f7;
  padding: 70px 0px;
  box-sizing: border-box;
}
.brand1 {
  width: 100%;
  margin: auto;
}
.brand2 {
  filter: grayscale(100%);
}

.brand2:hover {
  filter: grayscale(1%);
}
.img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.5s;
  cursor: pointer;
  max-width: 100%;
}

.bg8 {
  background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/footer_bg01.png);
  padding: 150px 20px 0px 20px;
  color: white;
  background-size: cover;
  background-color: #f7f7f7;
}
.bgcerative {
  padding: 30px 0px 100px 0px;
}

.a1 {
  text-decoration: none;
  transition: 0.5s;
  color: #8555fb;
}
.a1:hover {
  text-decoration: none;
  color: #8555fb;
}

.a2 {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}
h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.btn6 {
  color: rgba(255, 255, 255, 0.747);
  border: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.582);
  background-color: rgba(255, 255, 255, 0);
  padding: 3px 10px;
}

.slide {
  border-bottom: 1px solid black;
  padding-top: 90px;
}

.arrow-next {
  position: absolute;
  right: 4%;
  top: 29%;
}

.arrow-prev {
  position: absolute;
  left: 4%;
  top: 29%;
}

.persons {
  width: 20%;
  margin: auto;
}
.ftp {
  padding-top: 10px;
  text-align: center;
}

.jhoan {
  padding-left: 3px;
  box-sizing: border-box;
}

.jhoan:hover {
  color: white;
  text-decoration: none;
}

.abi {
  margin-top: -5px;
  transition-duration: 0.5s;
}

.abi:hover {
  padding-left: 4px;
}

.txtdecr:hover {
  text-decoration: none;
  color: white;
}

.jun {
  display: inline-block;
  font-size: 13px;
  padding-left: 10px;
  box-sizing: border-box;
}

.jun1:hover {
  color: #ea6711;
  cursor: pointer;
}

.termsofuse {
  text-align: right;
}

.cir {
  border: 1px solid white;
  border-radius: 50%;
  padding: 7px 9px 5px 9px;
  font-size: 14px;
  transition: 0.5s;
}

.cir5 {
  border: 1px solid white;
  border-radius: 50%;
  padding: 7px 7px 6px 7px;
  font-size: 14px;
  transition: 0.5s;
}

.spac {
  padding-left: 5px;
}

.cir5:hover {
  color: rgb(135, 96, 233);
  background-color: white;
}
.cir:hover {
  color: rgb(135, 96, 233);
  background-color: white;
}

.copyright {
  text-align: center;
  width: 100%;
}

.form-control1 {
  border: none;
  border-bottom: 2px solid #743efa;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.form-control1::placeholder {
  font-size: 35px;
  color: white;
}
.mb-3,
.my-3 {
  margin-bottom: 0rem !important;
}

@media (max-width: 992px) {
  .center {
    width: 80%;
    padding-left: 30px;
    box-sizing: border-box;
  }
}

@media (max-width: 1200px) {
  .piccomp {
    text-align: center;
    width: 100%;
    padding-left: 250px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .picwidth {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .txtcntr1 {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .txtcntr2 .copyright {
    text-align: center;
    width: 100%;
    margin: auto;
  }
}

.content2 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
